.poster {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster-container {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 1vw;
}

.page-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-header-image {
    width: 40%;
    height: auto;
    padding-bottom: 0;
}

/*vertial view*/

.poster-row-vertical {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

.poster-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5vw;
}

.poster-icons {
    width: 1.5vw;
    height: auto;
    flex-shrink: 0;
}

.poster-card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #456D8B;
    padding: 8px 15px;
    border-radius: 0px 10px 0px 10px;
    gap: 0.5vw;

    position: absolute;
    bottom: -1px;
    left: -1px;
}

.poster-image-vertical:hover {
    transform: translateY(-15px) scale(1.10);
    box-shadow: 0 30px 20px rgba(0,0,0,0.15);
    cursor: pointer;
}

.poster-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.poster-image-vertical {
    width: 100%;
    display: block;
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.poster-description-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    padding: 1rem;
    padding-bottom: 45px;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-top: 1px solid #eee;

    opacity: 0;
    transform: translateY(20px);
    transition:
            opacity 0.4s ease,
            transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.poster-card:hover {
    transform: translateY(-5px);
}

.poster-card:hover .poster-description-box {
    opacity: 1;
    transform: translateY(0);
}

/* Zoom the image slightly on hover for depth */
.poster-card:hover .poster-image-vertical {
    transform: scale(1.05);
}

/*horizontal view*/
.poster-row-horizontal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    background-color: #ffffff;
}

.poster-image-horizontal {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 20px 10px rgba(0,0,0,0.1);
}
