.design {
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
}

.webdev-header-title {
    padding-top: 20px;
    /*background-color: #535bf2;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.webdev-title-img {
    width: 35vw;
    height: auto;
}