.design {
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
}

.webdev-header-title {
    background-color: #535bf2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webdev-title-img {
    width: 80px;
    height: auto;
}